.background-image {
    width: 1440px;
    height: 820px;
    position: relative;
}
.car {
    width: 250px;
    top: 650px;
    left: 50px;
    position: absolute;
    animation:car 5s infinite;
}
.hel {
    width: 150px;
    top: 50px;
    left: 80px;
    position: absolute;
    animation:hel 3s infinite alternate;
}
.delivery {
    width: 100px;
    top: 655px;
    left: 380px;
    position: absolute;
    animation:delivery 5s infinite;
}
.bus {
    width: 320px;
    height: 250px;
    top: 510px;
    left: 580px;
    position: absolute;
    animation:bus 4s infinite;
}
 @keyframes hel {
    from{top: 50px;} 
    to{top: 150px}

 }
 @keyframes delivery {
    from{left:380px}
    to{left: 1300px;}

 }
 @keyframes bus {
    from{left:580px}
    to{left:1100px}

 }
 @keyframes car {
    0% {left: 50px;}
    40% {left: 380px;}
    100%{left: 1150px;}
 }
